<%= render partial: 'shared/page_heading', locals: {heading: 'Thanks for Applying!', subheading: 'We\'ll get back to you soon!'} %>

<p class="text-center">Yo thanks for applying. We'll get back to you soon.</p>
