<p>You've been accepted! Yay :)</p>

<p>Get started: <<< MAGIC LINK HERE >>> </p>

<p>Get started <a href="<%= ENV['base_url'] + '/users/sign_in' %>"> here:</a> </p>
<br>
<p>Username: <%= @email %> </p>
<p>Password: <%= @password %> </p>